<div class="container">
  <h1>Cookery<span class="glyphicon glyphicon-book"></span></h1>
  <br>



  <div role="form" class="form col-md-6">

    <%= form_for @recipe do |f| %>
    <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited
        this recipe from being saved:</h2>
        <ul>
          <% @recipe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <div class="form-group">
        <%= f.label(:recipe_name) %>
        <%= f.text_field(:recipe_name, id: "recipe_name") %>
      </div>

      <div class="form-group">
        <%= f.label(:author) %>
        <%= f.text_field(:author) %>
      </div>

      <div class="form-group">
        <%= f.label(:cooking_time) %>
        <%= f.select(:cooking_time, [5,10,15,20,25,30]) %>
      </div>

      <div class="form-group">
        <%= f.label(:serves) %>
        <%= f.select(:serves, [1,2,3,4,5,6,7,8]) %>
      </div>

      <div class="form-group">
        <%= f.label(:difficulty) %>
        <%= f.select(:difficulty, ["Easy", "Medium", "Hard"]) %>
      </div>

      <%= f.fields_for :ingredients_attributes do |ingredient_form| %>
        <div class="form-group">
          <%= ingredient_form.label(:ingredient_name) %>
          <%= ingredient_form.text_field(:ingredient_name, :id  => "ingredient-name") %>
        </div>

        <div class="form-group">
          <%= ingredient_form.label(:quantity) %>
          <%= ingredient_form.text_field(:quantity, :id => "ingredient-quantity") %>
        </div>

        <div class="form-group">
          <%= ingredient_form.label(:unit) %>
          <%= ingredient_form.text_field(:unit, :id => "ingredient-unit") %>
        </div>
      <% end %>


      <br>
      <%= f.submit "Create" , :class => "btn btn-primary btn-lg" %>
      
    </div>


    <% end %>
  </div>
</div>